<%- include('partials/header') %>
<!-- header goes hear -->

<section class="h-screen overflow-auto max-w-[90%] mx-auto bg-[#ddcaa3] px-10 pt-10">
  <div class="rounded-3xl border-2 border-yellow-600 divide-y divide-yellow-500 mb-3" ">
    <h2 class=" p-3 font-semibold text-xl pb-0"><%= staticPostTitle %></h2>
    <p class="px-3 pb-3"><%= staticPostContent %></p>
  </div>

  <!-- post title and content goes here -->
  <% posts.forEach(post => { %>
  <%- `<div class="transition-all postDiv rounded-3xl border-2 border-yellow-600 divide-y divide-yellow-500 mb-3">` %>
  <!-- post title here, changes text to start case, every starts on caps -->
  <%- `<h2 class="p-3 font-semibold text-xl pb-0"> <a href="/posts/${post._id}"> ${_.startCase(post.title)}</a> </h2>` %>
  <!-- trim post content if 100 char or more -->
  <% if (post.content.length >= 100) { %>
  <% let trimPost = post.content.substring(0, 100) %>
  <%- `<p class="px-3 pb-3"> ${trimPost} ... <a class="underline" href="/posts/${post._id}">Read more</a></p>`%>
  <!-- edit options go here -->
  <%- `<div class="optDiv flex justify-center">` %>
  <!-- edit button -->
  <%#- `<svg class="edit m-1 fill-yellow-800" width="14" height="14" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 450 450" style="enable-background:new 0 0 438.536 438.536;" xml:space="preserve"><title>can't edit yet</title><path d="M414.41,24.123C398.333,8.042,378.963,0,356.315,0H82.228C59.58,0,40.21,8.042,24.126,24.123 C8.045,40.207,0.003,59.576,0.003,82.225v274.084c0,22.647,8.042,42.018,24.123,58.102c16.084,16.084,35.454,24.126,58.102,24.126 h274.084c22.648,0,42.018-8.042,58.095-24.126c16.084-16.084,24.126-35.454,24.126-58.102V82.225 C438.532,59.576,430.49,40.204,414.41,24.123z M155.316,365.445H73.089v-82.228l155.316-155.311l82.221,82.224L155.316,365.445z M355.169,165.592l-26.262,26.269l-82.228-82.229l26.262-26.265c5.331-5.325,11.8-7.993,19.417-7.993 c7.611,0,14.086,2.664,19.41,7.993l43.4,43.398c5.324,5.327,7.994,11.798,7.994,19.414 C363.163,153.792,360.501,160.262,355.169,165.592z" /><polygon points="100.502,294.642 100.502,310.623 127.91,310.623 127.91,338.038 143.896,338.038 158.744,323.189 115.347,279.789" /><path d="M141.901,252.385c-3.237,3.23-3.521,6.084-0.859,8.562c2.474,2.67,5.33,2.382,8.566-0.855l83.081-83.083 c3.237-3.23,3.519-6.086,0.855-8.561c-2.478-2.667-5.328-2.383-8.562,0.855L141.901,252.385z" /></svg>` %>
  <!-- delete button -->
  <%-  `<form action="/delete/${post._id}" method="GET" ><button type="submit"><svg class="hover:scale-110 hover:drop-shadow-md active:scale-95 edit m-1 fill-yellow-800" width="16" height="16" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 80 80" style="enable-background:new 0 0 72.434 72.44;" xml:space="preserve"><title>delete</title><path d="M36.22,0C16.212,0,0,16.216,0,36.227c0,19.999,16.212,36.214,36.22,36.214 c20.011,0,36.214-16.215,36.214-36.214C72.434,16.215,56.231,0,36.22,0z M52.058,46.82c1.379,1.424,0.953,4.078-0.959,5.932 c-1.911,1.854-4.577,2.209-5.959,0.785l-9.027-9.295l-9.298,9.027c-1.421,1.379-4.075,0.947-5.929-0.961s-2.206-4.574-0.785-5.956 l9.298-9.027l-9.027-9.298c-1.379-1.421-0.946-4.078,0.962-5.932c1.905-1.851,4.577-2.204,5.953-0.785l9.027,9.297l9.301-9.023 c1.424-1.382,4.078-0.95,5.929,0.958c1.857,1.908,2.206,4.577,0.785,5.959l-9.295,9.024L52.058,46.82z" /></svg></button></form>` %>
  <!-- options button -->
  <%-  `<svg class="hover:scale-110 hover:drop-shadow-md active:scale-95 option m-1 fill-yellow-800" width="14" height="14" viewBox="0 0 21 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>options</title><g id="Dribbble-Light-Preview" transform="translate(-99.000000, -200.000000)""><g id=" icons" transform="translate(56.000000, 160.000000)"><path d="M60.85,51 L57.7,51 C55.96015,51 54.55,52.343 54.55,54 L54.55,57 C54.55,58.657 55.96015,60 57.7,60 L60.85,60 C62.58985,60 64,58.657 64,57 L64,54 C64,52.343 62.58985,51 60.85,51 M49.3,51 L46.15,51 C44.41015,51 43,52.343 43,54 L43,57 C43,58.657 44.41015,60 46.15,60 L49.3,60 C51.03985,60 52.45,58.657 52.45,57 L52.45,54 C52.45,52.343 51.03985,51 49.3,51 M60.85,40 L57.7,40 C55.96015,40 54.55,41.343 54.55,43 L54.55,46 C54.55,47.657 55.96015,49 57.7,49 L60.85,49 C62.58985,49 64,47.657 64,46 L64,43 C64,41.343 62.58985,40 60.85,40 M52.45,43 L52.45,46 C52.45,47.657 51.03985,49 49.3,49 L46.15,49 C44.41015,49 43,47.657 43,46 L43,43 C43,41.343 44.41015,40 46.15,40 L49.3,40 C51.03985,40 52.45,41.343 52.45,43" id="menu_navigation_grid-[#1529]"></path></g></g></svg>` %>
  <%- `</div>` %>
  <!-- else just output content -->
  <% } else if (post.content.length < 100) { %>
  <%- `<p class=" px-3 pb-3 border-b-2 border-yellow-600 divide-y divide-yellow-500 mb-3"> ${post.content}</p>` %>

  <!-- edit options go here -->
  <%- `<div class="optdiv flex justify-center">` %>
  <!-- edit button -->
  <%#- `<svg class="edit m-1 fill-yellow-800" width="14" height="14" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="438.536px" height="438.536px" viewBox="0 0 438.536 438.536" style="enable-background:new 0 0 438.536 438.536;" xml:space="preserve"><title>edit</title><path d="M414.41,24.123C398.333,8.042,378.963,0,356.315,0H82.228C59.58,0,40.21,8.042,24.126,24.123 C8.045,40.207,0.003,59.576,0.003,82.225v274.084c0,22.647,8.042,42.018,24.123,58.102c16.084,16.084,35.454,24.126,58.102,24.126 h274.084c22.648,0,42.018-8.042,58.095-24.126c16.084-16.084,24.126-35.454,24.126-58.102V82.225 C438.532,59.576,430.49,40.204,414.41,24.123z M155.316,365.445H73.089v-82.228l155.316-155.311l82.221,82.224L155.316,365.445z M355.169,165.592l-26.262,26.269l-82.228-82.229l26.262-26.265c5.331-5.325,11.8-7.993,19.417-7.993 c7.611,0,14.086,2.664,19.41,7.993l43.4,43.398c5.324,5.327,7.994,11.798,7.994,19.414 C363.163,153.792,360.501,160.262,355.169,165.592z" /><polygon points="100.502,294.642 100.502,310.623 127.91,310.623 127.91,338.038 143.896,338.038 158.744,323.189 115.347,279.789" /><path d="M141.901,252.385c-3.237,3.23-3.521,6.084-0.859,8.562c2.474,2.67,5.33,2.382,8.566-0.855l83.081-83.083 c3.237-3.23,3.519-6.086,0.855-8.561c-2.478-2.667-5.328-2.383-8.562,0.855L141.901,252.385z" /></svg>` %>
  <!-- delete button -->
  <%-  `<form action="/delete/${post._id}" method="GET" ><button type="submit"><svg class="hover:scale-110 hover:drop-shadow-md active:scale-95 edit m-1 fill-yellow-800" width="16" height="16" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 80 80" style="enable-background:new 0 0 72.434 72.44;" xml:space="preserve"><title>delete</title><path d="M36.22,0C16.212,0,0,16.216,0,36.227c0,19.999,16.212,36.214,36.22,36.214 c20.011,0,36.214-16.215,36.214-36.214C72.434,16.215,56.231,0,36.22,0z M52.058,46.82c1.379,1.424,0.953,4.078-0.959,5.932 c-1.911,1.854-4.577,2.209-5.959,0.785l-9.027-9.295l-9.298,9.027c-1.421,1.379-4.075,0.947-5.929-0.961s-2.206-4.574-0.785-5.956 l9.298-9.027l-9.027-9.298c-1.379-1.421-0.946-4.078,0.962-5.932c1.905-1.851,4.577-2.204,5.953-0.785l9.027,9.297l9.301-9.023 c1.424-1.382,4.078-0.95,5.929,0.958c1.857,1.908,2.206,4.577,0.785,5.959l-9.295,9.024L52.058,46.82z" /></svg></button></form>` %>
  <!-- options button -->
  <%-  `<svg class="hover:scale-110 hover:drop-shadow-md active:scale-95 option m-1 fill-yellow-800" width="14" height="14" viewBox="0 0 21 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>options</title><g id="Dribbble-Light-Preview" transform="translate(-99.000000, -200.000000)""><g id=" icons" transform="translate(56.000000, 160.000000)"><path d="M60.85,51 L57.7,51 C55.96015,51 54.55,52.343 54.55,54 L54.55,57 C54.55,58.657 55.96015,60 57.7,60 L60.85,60 C62.58985,60 64,58.657 64,57 L64,54 C64,52.343 62.58985,51 60.85,51 M49.3,51 L46.15,51 C44.41015,51 43,52.343 43,54 L43,57 C43,58.657 44.41015,60 46.15,60 L49.3,60 C51.03985,60 52.45,58.657 52.45,57 L52.45,54 C52.45,52.343 51.03985,51 49.3,51 M60.85,40 L57.7,40 C55.96015,40 54.55,41.343 54.55,43 L54.55,46 C54.55,47.657 55.96015,49 57.7,49 L60.85,49 C62.58985,49 64,47.657 64,46 L64,43 C64,41.343 62.58985,40 60.85,40 M52.45,43 L52.45,46 C52.45,47.657 51.03985,49 49.3,49 L46.15,49 C44.41015,49 43,47.657 43,46 L43,43 C43,41.343 44.41015,40 46.15,40 L49.3,40 C51.03985,40 52.45,41.343 52.45,43" id="menu_navigation_grid-[#1529]"></path></g></g></svg>` %>
  <%- `</div>` %>
  <% } %>
  <%- `</div>` %>
  <% }) %>


</section>
<script src="/js/edit.js"></script>
<!-- footer goes here -->
<%- include('partials/footer') %>